---
title: Events
link: events
---

{% include header %}

<section class="left wrapper-vertical">
    <div class="w10 wrapper-horizontal">
        {% for event in calendar %}
        <div class="w5">
            <div class="p1">
                <article class="card w10 foreground slidein1">
                    <div class="p3 wrapper-vertical margin-below left">
                        <div class="wrapper-horizontal w10">
                            <div class="w5">
                                <h3>{{ event.title }}</h3>
                            </div>
                            <div class="w5 text-right right">
                                <p class="accent pill floating-right"><b><i class="fas fa-calendar"></i>&nbsp;&nbsp;{{ event.startDate }}</b></p>
                            </div>
                        </div>
                        <p><i class="fas fa-clock"></i>&nbsp;&nbsp;{{ event.startTime }} &#8211; {{ event.endTime }}</p>
                        {% if event.location != '' %} <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;{{ event.location }}</p> {% endif %}
                        {% if event.description != '' %} <p>{{ event.description }}</p> {% endif %}
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="w10 center">
        <div class="p2">
            <a href="/events/old" class="button ripple-button-light">Browse Old Events</a>
        </div>
    </div>
</section>

{% include footer %}